.inputWrapper {
    padding: var(--s) 0;
    background-color: transparent;
}

.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--dim);
    border: 1px solid transparent;
    border-radius: 0.75rem;
    padding: 0 var(--m);
    margin-top: var(--s);
}

input.textInput {
    width: 100%;
    outline: none;
    border: none;
    font-size: var(--font-m);
    appearance: none;
    background: transparent;
    color: var(--light);
    padding: var(--s) var(--xs);
    caret-color: var(--primary);
}

.inputLabel {
    line-height: var(--line-height-s);
    transition: color 150ms ease-out;
}

/* TODO: Try setting svg fill to primary on input focus */
input.textInput:focus+.inputLabel,
input.textInput:not([value=""])+.inputLabel {
    color: var(--primary);
}

.inputContainer input.textInput:focus .inputContainer {
    border-color: var(--primary);
}

.helperText {
    font-size: var(--font-xs);
    font-weight: 500;
    line-height: 15px;
    padding-left: var(--m);
}

.inputWrapper[data-error="true"] .inputLabel,
.inputWrapper[data-error="true"] .helperText
.inputWrapper[data-error="true"] input.textInput:focus+.inputLabel {
    color: var(--danger);
}

.inputWrapper[data-error="true"] .inputContainer {
    border-color: var(--danger);
}

.inputWrapper[data-error="true"] svg {
    fill: var(--danger);
}

.togglePassTypeBtn {
    border: none;
    outline: none!important;
    background: transparent;
}