:root {
  /* Font size */
  /* 12px */
  --font-xs: .75rem;
  /* 14px */
  --font-s: .875rem;
  /* 16px */
  --font-m: 1rem;
  /* 18px */
  --font-mlg: 1.125rem;
  /* 20px */
  --font-lg: 1.25rem;
  /* 32px */
  --font-xl: 2.125rem;
  /* 52px */
  --font-2xl: 3.25rem;

  --line-height-m: 19.8px;
  --line-height-s: 17.6px;

  /* Spacing */
  /* 4px */
  --xs: .25rem;
  /* 8px */
  --s: .5rem;
  /* 16px */
  --m: 1rem;
  /* 24px */
  --lg: 1.5rem;
  /* 32px */
  --xl: 2rem;
  /* 48px */
  --2xl: 3rem;
  /* 80px */
  --3xl: 5rem;

  /* Colors */
  --action: rgb(198, 146, 248);
  --primary: rgb(171, 255, 194);
  --primary-dim: rgba(171, 255, 194, 0.5);
  --secondary: rgba(227, 209, 191, 1);
  --light: #fff;
  --dark: #000;
  --dark-dark: rgb(24, 24, 24);
  --dark-light: rgb(28, 28, 28);
  --dim: rgba(255, 255, 255, 0.5);
  --extra-dim: rgba(255, 255, 255, 0.1);
  --gray-dark: rgb(36, 36, 36);
  --gray: rgb(64, 64, 64);
  --gray-light: rgb(69, 69, 69);
  --danger: rgb(254, 90, 79);
  --warning: rgb(242, 244, 152);

  --text-gray: rgb(157, 157, 157);

  --gradient-action: linear-gradient(307.69deg, #E3D1BF 6.69%, #ABFFC2 81.85%);
  --gradient-dark: linear-gradient(93.71deg, #1E1E1E 3.6%, #171616 86.39%);


  /* --black: #1c1c1e;
  --black-inverse: #e3e3e1;
  --gray-tone: rgba(204, 204, 204, .25);
  --shadow: rgba(0, 0, 0, .35); */


  /* Analogous Palette */
  /* --primary-light: #e1e5f2;
  --secondary: #022b3a;
  --secondary-light: #bfdbf7; */

  /* Default values */
  /* font-family: "Helvetica Neue"; */
  /* used for ordinary text */
  font-size: var(--font-m);
  font-weight: 500;

  color-scheme: dark;
  color: var(--light);
  background-color: var(--dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --border-radius-m: 30px;
  --border-radius-s: 12px;
  --border-round: 50%;
  --box-shadow: 13px 13px 32px -11px var(--shadow);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* TODO:
    * Create variable with name that makes sence that acts like mid variable and control it's value depending
    * on active scheme - light or dark. Main reason for having a mid variable is to make sence of what is
    * happening in between. It will be confusing to have '--white' attribute with black color as value.-
     */
    
  }
  * {
    color: var(--light);
  }
  h1, h2, h3, h4, h5, h6, p, span, a {
    color: inherit;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100svw;
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: rgb(var(--background-rgb)); */
  /* background: linear-gradient(54deg, #9118eb 0%, #e5d4d2 8%, #e2fabd 20%, #ffca4e 22%, rgba(254, 36, 66, .65) 26%, #ff6bc0 32%, #ff8504 37%, #e2fabd 41%, #ff6bc0 82%, #9118eb 100%); */
  /* background: linear-gradient(54deg, #33001b25 8%, #ff008435 22%, #9118eb21 100%); */
  /* background-image: radial-gradient(
        60% 200% at 50% 50%,
        #33001b 0%,
        #ff0084 100%
    ); */
    background: var(--primary-glow);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border-radius: var(--border-radius-m);
  border: none;
  padding: .4em 1.2em;
  font-size: var(--font-mlg);
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  line-height: var(--line-height-m);
  color: var(--dark);
  cursor: pointer;
  text-transform: capitalize;
  transition: all 150ms ease-out;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* =========== BUTTON =========== */
button.button.wide {
  width: 100%;
  padding: var(--m) 0;
}

button.button.primary {
  padding-top: var(--m);
  padding-bottom: var(--m);
  background-color: var(--primary);
}

button.button.secondary {
  background-color: var(--light);
}


/* =========== BUTTON ICON =========== */
button.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-m);
  padding: 0;
}

button.btn-icon.transparent {
  background: transparent;
}

button.btn-icon.primary {
  color: var(--primary);
} 

button.btn-icon.primary {
  color: var(--primary);
} 

button.btn-icon.reverse {
  flex-direction: row-reverse;
} 



button.action {
  min-width: 140px !important;
  min-height: 40px;
  color: var(--primary-dark);
  background-color: var(--action);
}

button.action:disabled,
button.btn-icon:disabled {
  cursor: unset;
  pointer-events: none;
}

button.action:hover{
  background-color: var(--white);
  border-color: var(--action);
}

/* =========== button - TRANSPARENT =========== */
button.action.transparent{
  color: var(--primary-dark);
  background: transparent;
}

button.action.transparent:hover{
  color: var(--white);
  background-color: var(--primary);
  border-color: transparent;
}

button.action.transparent:hover svg {
  fill: var(--white);
}

/* =========== button - DANGER =========== */
button.action.danger,
button.btn-icon.danger {
  color: var(--white);
  background-color: var(--danger);
}

button.action.danger:hover,
button.btn-icon.danger:hover {
  color: var(--danger);
  border-color: var(--danger);
  background: transparent;
}

button.action.danger:hover svg,
button.btn-icon.danger:hover svg {
  fill: var(--danger);
}

/* =========== button - TRANSPARENT DANGER =========== */
button.btn-icon.transparent-danger {
  color: var(--danger);
  background: transparent;
}

button.btn-icon.transparent-danger:hover {
  border-color: var(--danger);
}

ul {
  list-style-type: none;
}

span {
  display: block;
}

td {
  height: 64px;
  padding: var(--s);
}

tr {
  border-bottom: 1px solid var(--black);
}

tr:last-child {
  border: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-1 {
  height: 100svh;
}


.f {
  display: flex;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.col {
  flex-direction: column;
}

.as-s {
  align-self: stretch;
}

.a-s {
  align-items: flex-start;
}

.a-e {
  align-items: flex-end;
}

.a-c {
  align-items: center;
}

.ai-s {
  align-items: stretch;
}

.j-c {
  justify-content: center;
}

.j-s {
  justify-content: flex-start;
}

.j-sb {
  justify-content: space-between;
}

.gap-xs {
  gap: var(--xs);
}

.gap-s {
  gap: var(--s);
}

.gap-m {
  gap: var(--m);
}

.gap-lg {
  gap: var(--lg);
}

/* ------------------------------ */
.screen {
  width: 100%;
  height: 100svh;
  padding: var(--xl);
  overflow: hidden;
}

.screen-content {
  padding-top: var(--lg);
  height: calc(100% - 52px - var(--m));
}

/* ------------------------------ */
.pill-btn {
  display: flex;
  align-items: center;
  gap: var(--s);
  padding: var(--s) var(--m);
  border-radius: var(--lg);
  border: 1px solid var(--gray);
  background-color: transparent;
}

.pill-btn.fill {
  border: none;
  background-color: var(--black-inverse);
}

/* ------------------------------ */
main.main-layout {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #141414;
}
main.main-layout.auth {
  background-color: var(--gray-dark);
  align-items: center;
  justify-content: center;
}
.nav-wrapper {
  position: relative;
  width: 20%;
  height: inherit;
  max-width: 350px;
  background-color: var(--dark-light);
  padding: var(--lg) var(--xl) var(--m);
  border: 0;
  flex-grow: 1;
  flex-shrink: 0;
}

.nav-section-title {
  display: block;
  text-transform: uppercase;
  font-size: .74rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: .5rem;
  color: rgba(0, 0, 0, .5);
}

section.content {
  width: 80%;
  height: inherit;
  /* background: red; */
}

a.nav-link, button.nav-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: .75rem 1rem;
  margin-bottom: .75rem;
  color: var(--dim);
  font-size: var(--font-mlg);
  line-height: var(--line-height-m);
  background: transparent;
  border-radius: 100px;
  transition: all 150ms ease-out;
}
a.nav-link:last-child {
  margin-bottom: 0;
}
a.nav-link:hover, button.nav-btn:hover {
  background-image: var(--gradient-action);
  color: var(--dark);
}
a.nav-link:hover svg, a.nav-link.active svg, button.nav-btn:hover svg {
  fill: var(--dark);
}
a.nav-link.active {
  background-color: var(--extra-dim);
  color: var(--light);
  pointer-events: none;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
}

a.nav-link.active svg {
  fill: var(--light);
}

a.nav-link-pill {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--s);
  padding: var(--s) var(--m);
  background-color: var(--dark-light);
  border-radius: var(--border-radius-m);
}

a.nav-link-pill.action {
  color: var(--primary);
}

button.nav-btn {
  position: absolute;
  left: 1rem;
  bottom: 2rem;
  width: calc(100% - 2rem);
  outline: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.top-bar-nav {
  margin: 1rem;
  padding: 1rem;
  border-radius: .75rem;
  -moz-box-shadow: 5px 5px 22px -15px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 5px 5px 22px -15px rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 22px -15px rgba(0, 0, 0, 0.8);
  background-color: #fff;
}

/* ------------------------------ */
.spacer-s {
  height: var(--m);
}

.spacer-md {
  height: var(--xl);
}
.divider-horizontal {
  width: 2px;
  height: 25px;
  background-color: rgba(0, 0, 0, .45);
}

/* ------------------------------ */
.mx-auto {
  margin: 0 auto;
}
.mb-s {
  margin-bottom: var(--s);
}
.mb-m {
  margin-bottom: var(--m);
}
.mb-lg {
  margin-bottom: var(--m);
}
/* ------------------------------ */
.px-s {
  padding-left: var(--s);
  padding-right: var(--s);
}

.px-m {
  padding-left: var(--m);
  padding-right: var(--m);
}
.px-lg {
  padding-left: var(--lg);
  padding-right: var(--lg);
}
.px-xl {
  padding-left: var(--xl);
  padding-right: var(--xl);
}

.pt-m {
  padding-top: var(--m);
}

.pb-lg {
  padding-bottom: var(--lg);
}
/* ------------------------------ */
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-05 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.pt-05 {
  padding-top: .5rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pb-1-5 {
  padding-bottom: 1.5rem;
}

.pb-1-5 {
  padding-bottom: 1.5rem;
}

.pb-5 {
  padding-bottom: var(--3xl);
}

/* ------------------------------ */
.block {
  display: block;
}

.py-s {
  padding-top: var(--s);
  padding-bottom: var(--s);
}

.py-m {
  padding-top: var(--m);
  padding-bottom: var(--m);
}

.py-lg {
  padding-top: var(--lg);
  padding-bottom: var(--lg);
}

.py-xl {
  padding-top: var(--xl);
  padding-bottom: var(--xl);
}
/* ------------------------------ */
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
/* ------------------------------ */
.flex, .flex-row {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-even {
  justify-content: space-between;
}
.gap-05 {
  gap: .5rem
}
.gap-1-5 {
  gap: 1.5rem;
}

/* ------------------------------ */
.card {
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.inner-card {
  min-width: 280px;
  background-color: var(--black-inverse);
  border-radius: var(--border-radius);
  /* box-shadow: var(--box-shadow); */
  overflow: hidden;
  padding: var(--s) var(--m);
}

.tabs-card {
  max-width: 50%;
}

ul.tab-list {
  border-bottom: 2px solid var(--gray);
  padding-bottom: var(--s);
}

ul.tab-list li {
  text-align: center;
  flex-grow: 1;
  flex-shrink: 0;
  padding: var(--lg) var(--s) var(--m);
}

ul.tab-list li.active {
  font-weight: 600;
  background-color: var(--action);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.tab-indicator {
  width: 15%;
  height: 2px;
  border-radius: var(--border-radius);
  background-color: var(--action);
  margin-top: -2px;
}

/* ------------------------------ */
.icon-backdrop {
  background-color: var(--black);
  border-radius: var(--border-round);
}

.status-circle {
  width: var(--s);
  height: var(--s);
  background-color: var(--danger);
  border-radius: 50%;
  margin-right: var(--s);
}
.pill {
  font-size: var(--font-xs);
  padding: var(--xs) var(--m);
  border-radius: var(--border-radius);
}
.pill.green {
  background-color: rgba(172, 255, 47, 0.616);
}

.grid-3x2 {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr repeat(2, auto);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: var(--lg);
}

.green {
  font-weight: 500;
  color: rgb(93, 139, 22);
}

.chart-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: #2196F3;
  padding: 4px;
}

.chart-grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 8px 0;
}

.chart-line {
  grid-column: 2 / span 6;
}

.currency-flag {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--dim);
}

/* Hide arrows on input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.avatar, .notification{
  border-radius: var(--border-round);
  background-color: #2196F3; /* TODO: Here goes image of recipient */
}

.avatar.sm {
  width: var(--xl);
  height: var(--xl);
}

.avatar.lg, .notification {
  width: var(--font-2xl);
  height: var(--font-2xl);
}

.avatar::after {
  content: "";
  display: none;
  width: var(--xl);
  height: var(--xl);
  align-items: center;
  justify-content: center;
  background-color: var(--gray-light);
  margin-left: 80%;
  border-radius: var(--border-round);
}

.avatar-wrapper[data-multi="true"] .avatar::after {
  content: attr(data-count);
  display: inline-flex;
}

button.notification.badge {
  position: relative;
  background-color: var(--extra-dim);
  padding: 0;
  font-size: var(--font-xs);
  line-height: 15px;
}

.notification.badge::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: var(--font-mlg);
  height: var(--font-mlg);
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  border-radius: var(--border-round);
}

.badge[data-pending="true"]::after {
  content: attr(data-count);
  display: flex;
}

#menu {
  position: relative;
  padding: var(--xs) var(--m) var(--xs) var(--xs);
  background-color: var(--extra-dim);
  border-radius: var(--border-radius-m);
  z-index: 99;
}

#dropdown-menu, #dropdown-notifications {
  position: absolute;
  top: 66px;
  right: 0;
  width: 360px;
  padding: 12px 0;
  opacity: 0;
  background-color: var(--gray-dark);
  border-radius: var(--border-radius-s);
}

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(140px);
            transform: translateY(140px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(140px);
            transform: translateY(140px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
}
 @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
  100% {
    -webkit-transform: translateY(140px);
            transform: translateY(140px);
            opacity: 0;
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
  100% {
    -webkit-transform: translateY(140px);
            transform: translateY(140px);
            opacity: 0;
  }
}

#dropdown-menu .header {
  text-transform: none;
}

#dropdown-menu .header h2 {
  font-size: var(--font-lg);
  line-height: 26.4px;
  font-weight: 500;
}

#dropdown-menu ul {
  text-align: start;
}

.avatar-placeholder {
  width: 44px;
  height: 44px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-m);
  background-color: var(--gray-light);
  border-radius: var(--border-radius-m);
}

.avatar-placeholder[data-pending="true"]::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: var(--s);
  height: var(--s);
  background-color: var(--primary);
  border-radius: var(--border-round);
}

.user-profile-img {
  width: 56px;
  height: 56px;
  border-radius: var(--border-radius-m);
  background-color: var(--gray-light);
}

#dropdown-menu .profile-id {
  font-size: var(--font-m);
  color: var(--dim);
}

#dropdown-menu ul.menu-section {
  padding-top: var(--m);
  border-top: 2px solid var(--extra-dim);
  margin-top: var(--m);
}

#dropdown-menu ul.menu-section.acc-section li {
  margin-top: var(--m);
  margin-bottom: 0;
}

#dropdown-menu ul.menu-section.acc-section li:first-child {
  margin-top: 0;
}

#dropdown-menu ul li {
  margin-bottom: var(--s);
}

#dropdown-menu ul li .avatar-placeholder {
  width: 44px;
  height: 44px;
}

#dropdown-menu ul li span {
  font-size: var(--font-m);
  line-height: var(--line-height-m);
}

#dropdown-menu ul li .avatar-placeholder svg {
  /* shape-rendering: crispEdges; smooth edges without this */
  fill: url(#gradient);
}

#dropdown-menu.active, #dropdown-notifications.active {
  display: block;
  -webkit-animation: slide-top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
	animation: slide-top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
}

#dropdown-menu.hidden, #dropdown-notifications.hidden {
  -webkit-animation: slide-bottom 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
	animation: slide-bottom 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000) forwards;
}

.wizard-slide {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0 var(--xs);
  overflow: hidden;
}

.form-controller-fields {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.form-controller-fields > input:last-child {
  scroll-margin-bottom: 5px; /* Ensures the last item is always scrolled into view */
}