:root {
  /* Font size */
  /* 12px */
  --font-xs: .75rem;
  /* 14px */
  --font-s: .875rem;
  /* 16px */
  --font-m: 1rem;
  /* 20px */
  --font-lg: 1.25rem;
  /* 32px */
  --font-xl: 2.125rem;
  /* 52px */
  --font-2xl: 3.25rem;

  /* Spacing */
  /* 4px */
  --xs: .25rem;
  /* 8px */
  --s: .5rem;
  /* 16px */
  --m: 1rem;
  /* 24px */
  --lg: 1.5rem;
  /* 32px */
  --xl: 2rem;
  /* 48px */
  --2xl: 3rem;
  /* 80px */
  --3xl: 5rem;

  /* Colors */
  --action: #ff7518;
  --white: #fff;
  --black: #1c1c1e;
  --black-inverse: #e3e3e1;
  --gray: #cad2c5;
  --gray-tone: rgba(204, 204, 204, .25);
  --shadow: rgba(0, 0, 0, .35);
  --danger: rgba(244, 63, 94, .88);

  /* Analogous Palette */
  --primary: #1f7a8c;
  --primary-light: #e1e5f2;
  --secondary: #022b3a;
  --secondary-light: #bfdbf7;

  /* Default values */
  /* font-family: "Poppins", sans-serif; */
  /* used for ordinary text */
  font-size: var(--font-m);
  font-weight: 400;

  color-scheme: light;
  color: var(--black);
  background-color: var(--primary-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --border-radius: 12px;
  --box-shadow: 13px 13px 32px -11px var(--shadow);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* TODO:
    * Create variable with name that makes sence that acts like mid variable and control it's value depending
    * on active scheme - light or dark. Main reason for having a mid variable is to make sence of what is
    * happening in between. It will be confusing to have '--white' attribute with black color as value.-
     */
    --white: #fff;
}
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100svw;
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: rgb(var(--background-rgb)); */
  /* background: linear-gradient(54deg, #9118eb 0%, #e5d4d2 8%, #e2fabd 20%, #ffca4e 22%, rgba(254, 36, 66, .65) 26%, #ff6bc0 32%, #ff8504 37%, #e2fabd 41%, #ff6bc0 82%, #9118eb 100%); */
  /* background: linear-gradient(54deg, #33001b25 8%, #ff008435 22%, #9118eb21 100%); */
  /* background-image: radial-gradient(
        60% 200% at 50% 50%,
        #33001b 0%,
        #ff0084 100%
    ); */
    background: var(--primary-glow);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border-radius: var(--border-radius);
  border: 2px solid transparent;
  padding: .4em 1.2em;
  font-size: var(--font-s);
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 150ms ease-out;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* =========== BUTTON =========== */
button.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--s);
}

button.action,
button.btn-icon {
  min-width: 140px !important;
  min-height: 40px;
  color: var(--primary-dark);
  background-color: var(--action);
}

button.action:disabled,
button.btn-icon:disabled {
  cursor: unset;
  pointer-events: none;
}

button.action:hover,
button.btn-icon:hover {
  background-color: var(--white);
  border-color: var(--action);
}

/* =========== button - TRANSPARENT =========== */
button.action.transparent,
button.btn-icon.transparent {
  color: var(--primary-dark);
  background: transparent;
}

button.action.transparent:hover,
button.btn-icon.transparent:hover {
  color: var(--white);
  background-color: var(--primary);
  border-color: transparent;
}

button.action.transparent:hover svg,
button.btn-icon.transparent:hover svg {
  fill: var(--white);
}

/* =========== button - DANGER =========== */
button.action.danger,
button.btn-icon.danger {
  color: var(--white);
  background-color: var(--danger);
}

button.action.danger:hover,
button.btn-icon.danger:hover {
  color: var(--danger);
  border-color: var(--danger);
  background: transparent;
}

button.action.danger:hover svg,
button.btn-icon.danger:hover svg {
  fill: var(--danger);
}

/* =========== button - TRANSPARENT DANGER =========== */
button.btn-icon.transparent-danger {
  color: var(--danger);
  background: transparent;
}

button.btn-icon.transparent-danger:hover {
  border-color: var(--danger);
}

ul {
  list-style-type: none;
}

span {
  display: block;
}

td {
  height: 64px;
  padding: var(--s);
}

tr td:first-child, tr th:first-child {
  width: 56px;
}

tr {
  border-bottom: 1px solid var(--black);
}

tr:last-child {
  border: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

.f {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.a-c {
  align-items: center;
}

.j-sb {
  justify-content: space-between;
}

.gap-s {
  gap: var(--s);
}

.gap-m {
  gap: var(--m);
}

.gap-lg {
  gap: var(--lg);
}

/* ------------------------------ */
.screen {
  width: 100%;
  height: 100svh;
  padding: 0 var(--m) var(--m);
}

/* ------------------------------ */
.pill-btn {
  display: flex;
  align-items: center;
  gap: var(--s);
  padding: var(--s) var(--m);
  border-radius: var(--lg);
  border: 1px solid var(--gray);
  background-color: transparent;
}

.pill-btn.fill {
  border: none;
  background-color: var(--black-inverse);
}

/* ------------------------------ */
main.main-layout {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #141414;
}
.nav-wrapper {
  position: relative;
  width: 20%;
  height: inherit;
  max-width: 350px;
  background: transparent;
  border: 0;
  flex-grow: 1;
  flex-shrink: 0;
}
.nav-section-title {
  display: block;
  text-transform: uppercase;
  font-size: .74rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: .5rem;
  color: rgba(0, 0, 0, .5);
}

section.content {
  width: 80%;
  height: inherit;
  /* background: red; */
}

a.nav-link, button.nav-btn {
  /* flex-row justify-start align-center gap-05 p-1 */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
  padding: .75rem 1rem;
  margin: .5rem 0;
  border-radius: .55rem;
  transition: all 150ms ease-out;
}
a.nav-link:hover, button.nav-btn:hover {
  background-color: rgba(128, 0, 128, .8);
  color: #fff;
}
a.nav-link:hover svg, a.nav-link.active svg, button.nav-btn:hover svg {
  fill: #fff;
}
a.nav-link.active {
  background-color: gainsboro;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

button.nav-btn {
  position: absolute;
  left: 1rem;
  bottom: 2rem;
  width: calc(100% - 2rem);
  outline: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

/* ------------------------------ */
.spacer-s {
  height: 1rem;
}

.spacer-md {
  height: 2rem;
}

/* ------------------------------ */
.mx-auto {
  margin: 0 auto;
}
.mb-m {
  margin-bottom: var(--m);
}
/* ------------------------------ */
.px-s {
  padding-left: var(--s);
  padding-right: var(--s);
}

.px-m {
  padding-left: var(--m);
  padding-right: var(--m);
}
.px-xl {
  padding-left: var(--xl);
  padding-right: var(--xl);
}
/* ------------------------------ */
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-s {
  padding-top: var(--s);
  padding-bottom: var(--s);
}

.py-m {
  padding-top: var(--m);
  padding-bottom: var(--m);
}

.py-lg {
  padding-top: var(--lg);
  padding-bottom: var(--lg);
}

.py-xl {
  padding-top: var(--xl);
  padding-bottom: var(--xl);
}
/* ------------------------------ */
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
/* ------------------------------ */
.flex, .flex-row {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.gap-05 {
  gap: .5rem
}

/* ------------------------------ */
.card {
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.inner-card {
  min-width: 280px;
  background-color: var(--black-inverse);
  border-radius: var(--border-radius);
  /* box-shadow: var(--box-shadow); */
  overflow: hidden;
  padding: var(--s) var(--m);
}

.tabs-card {
  max-width: 50%;
}

ul.tab-list {
  border-bottom: 2px solid var(--gray);
  padding-bottom: var(--s);
}

ul.tab-list li {
  text-align: center;
  flex-grow: 1;
  flex-shrink: 0;
  padding: var(--lg) var(--s) var(--m);
}

ul.tab-list li.active {
  font-weight: 600;
  background-color: var(--action);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.tab-indicator {
  width: 15%;
  height: 2px;
  border-radius: var(--border-radius);
  background-color: var(--action);
  margin-top: -2px;
}

/* ------------------------------ */
.icon-backdrop {
  background-color: var(--black);
  border-radius: var(--border-radius);
  padding: var(--s);
}

.status-circle {
  width: var(--s);
  height: var(--s);
  background-color: var(--danger);
  border-radius: 50%;
  margin-right: var(--s);
}
.pill {
  font-size: var(--font-xs);
  padding: var(--xs) var(--m);
  border-radius: var(--border-radius);
}
.pill.green {
  background-color: rgba(172, 255, 47, 0.616);
}

.balance {
  font-size: var(--font-xl);
  font-weight: 500;
  padding: var(--s) 0;
}

.grid-3x2 {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr repeat(2, auto);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: var(--lg);
}

.green {
  font-weight: 500;
  color: rgb(93, 139, 22);
}

.chart-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: #2196F3;
  padding: 4px;
}

.chart-grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 8px 0;
}

.chart-line {
  grid-column: 2 / span 6;
}