.cardWrapper, .accountWrapper {
    width: 100%;
    border: 1px solid var(--dim);
    padding: var(--s) var(--m);
    border-radius: var(--border-radius-s);
    background: transparent;
}

.accountWrapper {
    padding: var(--m);
}

.spacer {
    width: 100%;
    height: 94px;
}

.cardBalance {
    font-size: var(--font-xl);
    padding: var(--xl) 0;
}

.cardSubText, .status {
    font-size: var(--font-m);
    line-height: var(--line-height-s);
    color: var(--dim); 
}

.cardSubText .subTextImportant {
    display: inline;
    color: var(--light);
}

.newCardBtn {
    width: 210px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-tone);
    border-radius: var(--border-radius);
}

.aBalance {
    margin-bottom: var(--s);
}
.aBalance, .aBalanceDim {
    display: inline-block;
    font-size: 24px;
    line-height: 26.4px;
}

.aBalance .aBalanceDim {
    color: var(--dim);
}

.status {
    color: var(--primary)
}